.root {
  all: unset;
  width: 64px;
  height: 32px;
  background-color: #27272a;
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  padding: 4px;
  box-sizing: border-box;
}


.root[data-state="checked"] {
  background-color: #182f18;
}

.thumb {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #121212;
  border-radius: 50%;
  transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55), width 200ms ease;
  will-change: transform;
  position: relative;
}

.root[data-state="checked"] .thumb {
  transform: translateX(32px);
}

.root:active .thumb {
    width: 28px;
}
.root[data-state="checked"]:active .thumb {
    transform: translateX(28px); 
}

.iconWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prismaIcon, .drizzleIcon {
    position: absolute;
    width: 50%;
    height: 50%;
    transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 300ms ease;
}

.prismaIcon {
    color: white; /* Or dark blue? */
    opacity: 1;
    transform: scale(1) rotate(0deg);
}

.drizzleIcon {
    color: white; /* Or yellow? */
    opacity: 0;
    transform: scale(0) rotate(-90deg);
}

.root[data-state="checked"] .prismaIcon {
    opacity: 0;
    transform: scale(0) rotate(90deg);
}

.root[data-state="checked"] .drizzleIcon {
    opacity: 1;
    transform: scale(1) rotate(0deg);
}
