.line {
  display: flex;
}

.inner {
  padding-left: .5rem;
  padding-right: .5rem;
  flex: 1 1 0%;
}

.inline {
  border-radius: 0.25rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: .125rem;
  padding-right: .125rem;
  margin-left: -.125rem;
  margin-right: -.125rem;
}
